body,html{
	height: 100%;
	background-color: #f0e7e3;
	position: relative;

}


#displaylist{
	padding-top: 1%;
	margin-left: 10px;
	margin-right: 10px;
}



#display-row{

	display: block;


	
}


#hxh{

	height:100%;
	width:70%;
}

#subs-btn{

	background-color: #699d78;
	border-color: #699d78;
	border-radius: 10%;
	color: #eceded;
	
}

/*figtitle{*/
/*	font-weight: bolder;*/
/*	font-size: 150%;*/
/*}*/

figure{
	border: ridge;
	width:500px;
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;

}

figure:hover{

	border: ridge;
	background-color: white;


}


#ser-img{
	display: block;
	width:75%;
	margin-left: auto;
	margin-right: auto;

}


#edge{
	overflow: hidden;
}


/*.col-xs-6{*/
/*	*/
/*}*/