body,html{
    height: 100%;
    background-color: #f0e7e3;
    position: relative;

}



.hero-image{

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/marvel_cover.png");
    height:50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0;

}

.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eaf2f4;
    text-shadow: white 0px 0px 5px;
    font-weight: bolder;
    font-size: 20px;
}



.hero-text button{
    color: #e4e4e4;
    background-color: #2d7f9d;
    border-radius: 4px;
    border-color: #2d7f9d;

}



#projects{

    height: 50%;
    background-position: center;
    border: solid;
    width: 100%;
    background-position: center;
    display: flex inline;
}

#hxh{
    margin: auto;
    width: 100%;
    height: 50%;
    background-position: center;
    border: solid;
}


#home-img{
    width:100px;
    height:100px;
}

#home2-img{
    width:100px;
    height:100px;
}