<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>


<ul>
	<li><a href="home.html">Home</a></li>
	<li><a href="explore.html">explore</a></li>
	<li><a href="contentview.html">contentview</a></li>
	<li><a href="editor.html">editor</a></li>
	<li><a href="gameeditor.html">gameeditor</a></li>
	<li><a href="profilepage.html">profilepage</a></li>
	<li><a href="otherprofile.html">otherprofile</a></li>
	<li><a href="subscriptionsfeed.html">subscriptionsfeed</a></li>
	<li><a href="telephonegame.html">telephonegame</a></li>


</ul>




</body>
</html>