<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <title th:text="${comic.comicTitle}"></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!--<link rel="stylesheet" type="text/css" href="../static/css/contentview.css">-->
  <!--<link rel="stylesheet" type="text/css" href="../static/css/comment.css">-->
  <link rel="stylesheet" type="text/css" href="/css/contentview.css">
  <link rel="stylesheet" type="text/css" href="/css/comment.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="../static/js/src/contentview.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#" style="color:#9b9e19;">Qomiq</a>
  <ul class="nav navbar-nav">
    <li class="nav-item"><a href="/home">Home</a></li>
    <li class="nav-item"><a href="/create">Create</a></li>
    <li class="nav-item active"><a href="/explore">Explore</a></li>
    <li class="nav-item"><a href="/about">About</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right ml-auto">
    <li th:switch="${currentUser}">
      <a th:case="null" href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
      <a th:case="*" href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a>
    </li>
    <li th:switch="${currentUser}">
      <a th:case="null" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
      <a th:case="*" href="/account"><img th:src="@{${' https://s3.us-east-2.amazonaws.com/qomiq-profile-images/profile' + currentUser.id + '.png'}}" alt="Trulli" style="width:50px; height:40px"></a>
    </li>
    <li th:if="${currentUser} != null">
      <a href="/play"><span class="glyphicon glyphicon-phone-alt"></span>(1)</a>
    </li>
  </ul>

  <!--<ul sec:authorize= "isAnonymous()" class="nav navbar-nav navbar-right">-->
  <!--<li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
  <!--<li th:switch="${currentUser}">-->
  <!--<a th:case="null" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>-->
  <!--<a th:case="*" href="/account"><img th:src="@{${'https://s3.amazonaws.com/seriescovers/' + currentUser.id + '.png'}}" alt="Trulli" style="width:50px; height:40px"></a>-->
  <!--</li>-->
  <!--</ul>-->

</nav>

<!-- The hero  -->
<!-- <div class="hero-image">
<div class="hero-text">
    <h1>Make It Your Comic Universe!</h1>
    <button>Create</button>
    <button>Login</button>
</div>

</div> -->

<section id="projects">


  <!-- the navigation pane -->

<!--  <div class="row">-->
<!--    <div class="col-xs-3">-->
<!--      <a th:href="@{${'/comic/prev/'+ comic.id}}"><button>Previous Comic</button></a>-->
<!--    </div>-->
<!--    <div class="col-xs-6"></div>-->
<!--    <div class="col-xs-3">-->
<!--      <a th:href="@{${'/comic/next/' + comic.id}}"><button>Next Comic</button></a>-->
<!--    </div>-->

<!--  </div>-->


  <!-- the navigation pane ends -->



  <!-- The viewport leftpane  -->

  <div class = "row">

    <div class="col-xs-8"  id="view-port">


      <div class="row">
        <div class="col-xs-3">
          <a th:href="@{${'/comic/prev/'+ comic.id}}"><button>Previous Comic</button></a>
        </div>
        <div class="col-xs-6"></div>
        <div class="col-xs-3">
          <a th:href="@{${'/comic/next/' + comic.id}}"><button>Next Comic</button></a>
        </div>

      </div>

      <div class="">

      <figure>
        <figtitle th:text="${comic.comicTitle}"></figtitle>
        <img th:src="@{${'https://s3.us-east-2.amazonaws.com/comic-bucket/series' + series.id +'comic'+comic.id+ '.png'}}" alt="Trulli" style="width:100%"/>
        <!--<img src="c.jpg" alt="Trulli" style="width:100%">-->

        <figcaption>
        <div>by  <a th:href="@{${'/profile/' + profileUser.id}}" th:text="${profileUser.username}"></a></div>
        <div>Category: <span th:text="${series.category}"></span></div>
        <div th:if="${currentUser} != null"><a th:href="@{${'/comic/like/' + comic.id}}"><span th:text="${comic.likes}" class="glyphicon glyphicon-thumbs-up"></span></a>
          <a th:href="@{${'/comic/dislike/' + comic.id}}"><span th:text="${comic.dislikes}" class="glyphicon glyphicon-thumbs-down"></span></a></div>
        <div th:if="${currentUser} == null"><span th:text="${comic.likes}" class="glyphicon glyphicon-thumbs-up"></span>
          <span th:text="${comic.dislikes}" class="glyphicon glyphicon-thumbs-down"></span></div>
        <div><span th:text="${comic.comicViews}" class="glyphicon glyphicon-eye-open"></span></div>
        </figcaption>

      </figure>

      </div>

    </div>


    <div class="col-xs-4" >
      <div class="detailBox">
        <div class="titleBox">
          <label>Comments</label>
          <button type="button" class="close" aria-hidden="true">&times;</button>
        </div>
        <div class="actionBox">
          <ul class="commentList" id="comments">

            <li th:each="comments, iter : ${comments}">

              <div class="commenterImage">
                <a th:href="@{${'/profile/' + comments.commenterId}}"><img th:src="@{${'https://s3.amazonaws.com/seriescovers/' + comments.commenterId + '.png'}}"></a>
              </div>
              <br>

              <div class="commentText">
                <div id="com-txt">
                <a th:href="@{${'/profile/' + comments.commenterId}}"><span th:text="${commentators[iter.index].username}"></span></a>
                <p class="" th:text="${comments.commentContent}"></p>
                </div>
                <div th:if="${currentUser != null}">
                <div th:if="${currentUser.username == commentators[iter.index].username} ">
                  <form class="form-inline" th:object="${comments}" th:action = "@{/comic/deleteComment}" method="POST">
                    <input type="hidden" th:value = "*{commentId}" id = "commentId" name = "commentId">
                    <input class="btn btn-info" type="submit" value="Delete">
                </form>
                </div>
                </div>
              </div>
            </li>
          </ul>


          <div th:if = "${currentUser} != null">
            <form class="form-inline" th:object="${newComment}" th:action = "@{/comic/comment}" method="POST">


              <input type="hidden" th:value = "*{comicId}" id = "comicId" name = "comicId">

              <div class="form-group">
            `   <input type="text" th:value = "*{commentContent}" id = "commentContent" name = "commentContent" size="35">-
              </div>
              <div class="form-group">
                <input class="btn btn-info" type="submit" value="Add Comment">
              </div>


            </form>
        </div>
      </div>

    </div>

  </div>





  <!-- the viewport leftgpane ends  -->











<!--  <div class="row">-->
<!--    <div class="col-xs-3">-->
<!--      &lt;!&ndash; <img src="c.jpg" id="hxh"> &ndash;&gt;</div>-->
<!--    <div class="col-xs-6">-->
<!--      -->
<!--      -->
<!--      <figure>-->
<!--        <figtitle th:text="${comic.comicTitle}"></figtitle>-->
<!--        <img th:src="@{${'https://s3.amazonaws.com/seriescovers/' + comic.id + '.png'}}" alt="Trulli" style="width:100%"/>-->
<!--        &lt;!&ndash;<img src="c.jpg" alt="Trulli" style="width:100%">&ndash;&gt;-->
<!--        <div>by </div><a th:href="@{${'/profile/' + profileUser.id}}" th:text="${profileUser.username}"></a>-->
<!--        <div>Category: <span th:text="${series.category}"></span></div>-->
<!--        <div th:if="${currentUser} != null"><a th:href="@{${'/comic/like/' + comic.id}}"><span th:text="${comic.likes}" class="glyphicon glyphicon-thumbs-up"></span></a>-->
<!--          <a th:href="@{${'/comic/dislike/' + comic.id}}"><span th:text="${comic.dislikes}" class="glyphicon glyphicon-thumbs-down"></span></a></div>-->
<!--        <div th:if="${currentUser} == null"><span th:text="${comic.likes}" class="glyphicon glyphicon-thumbs-up"></span>-->
<!--          <span th:text="${comic.dislikes}" class="glyphicon glyphicon-thumbs-down"></span></div>-->
<!--        <div><span th:text="${comic.comicViews}" class="glyphicon glyphicon-eye-open"></span></div>-->
<!--      </figure>-->
<!--      -->
<!--      -->
<!--      -->
<!--    </div>-->

<!--    &lt;!&ndash; <div class="col-xs-6" id="viewport"><img src="c.jpg" id="hxh"></div> &ndash;&gt;-->

<!--    <div class="col-xs-3">-->
<!--      &lt;!&ndash; <img src="c.jpg" id="hxh"> &ndash;&gt;</div>-->

<!--  </div>-->









<!--  <div class="row">-->
<!--    <div class="col-xs-3"></div>-->
<!--    <div class="col-xs-6">-->
<!--      <div class="detailBox">-->
<!--        <div class="titleBox">-->
<!--          <label>Comment Box</label>-->
<!--          <button type="button" class="close" aria-hidden="true">&times;</button>-->
<!--        </div>-->
<!--        <div class="commentBox">-->

<!--          <p class="taskDescription">Dummy Text.</p>-->
<!--        </div>-->
<!--        <div class="actionBox">-->
<!--          <ul class="commentList" id="comments">-->

<!--            <li>-->
<!--              <div class="commenterImage">-->
<!--                <img src="http://placekitten.com/50/50" />-->
<!--              </div>-->
<!--              <div class="commentText">-->
<!--                <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>-->

<!--              </div>-->
<!--            </li>-->

<!--            <li>-->
<!--              <div class="commenterImage">-->
<!--                <img src="http://placekitten.com/45/45" />-->
<!--              </div>-->
<!--              <div class="commentText">-->
<!--                <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>-->

<!--              </div>-->
<!--            </li>-->
<!--            <li>-->
<!--              <div class="commenterImage">-->
<!--                <img src="http://placekitten.com/40/40" />-->
<!--              </div>-->
<!--              <div class="commentText">-->
<!--                <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>-->

<!--              </div>-->
<!--            </li>-->
<!--          </ul>-->
<!--          <form class="form-inline" role="form">-->
<!--            <div class="form-group">-->
<!--              <input class="form-control" type="text" placeholder="Your comments" id="newcomment" />-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <button class="btn btn-default" onclick="addComment()">Add</button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="col-xs-3"></div>-->

<!--  </div>-->
<!--  -->















<!--  <div th:each = "comment,iter : ${comments}">-->
<!--    <a th:href="@{${'/profile/' + comment.commenterId}}"><div th:text = ${commentators[iter.index].username}></div></a>-->
<!--    <div th:text = "${comment.commentContent}"></div>-->
<!--    <div th:if ="${currentUser != null && currentUser.username == commentators[iter.index].username} ">-->
<!--        <form th:object="${comment}" th:action = "@{/comic/deleteComment}" method="POST">-->
<!--            <input type="hidden" th:value = "*{commentId}" id = "commentId" name = "commentId">-->
<!--            &lt;!&ndash;<input type="text" th:value = "*{commentContent}" id = "commentContent" name = "commentContent">&ndash;&gt;-->
<!--            <input type="submit" value="Delete">-->
<!--        </form>-->
<!--    </div>-->
<!--  </div>-->
<!--    <div th:if = "${currentUser != null}">-->
<!--        <form th:object="${newComment}" th:action = "@{/comic/comment}" method="POST">-->
<!--            <input type="hidden" th:value = "*{comicId}" id = "comicId" name = "comicId">-->
<!--            <input type="text" th:value = "*{commentContent}" id = "commentContent" name = "commentContent">-->
<!--            <input type="submit" value="comment">-->
<!--        </form>-->
<!--    </div>-->


</section>

</body>

</html>