<!DOCTYPE html>
<html>
<head>
	<title>Editor</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/home.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/js/lib/fabric.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:#9b9e19;">TBD</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
        </ul>
    </div>
</nav>



<!-- The hero  -->
<!-- <div class="hero-image">
	<div class="hero-text">
		<h1>Make It Your Comic Universe!</h1>
		<button>Create</button>
		<button>Login</button>		
	</div>
	
</div> -->

<!-- <section id="projects" >
  <h1>Featured</h1>
<div class="row" >
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
</div>
  
</section> -->

<section style="border:solid;">
  <div class= "row">
    <div class="col-xs-2" style="color:green;">
       <div id="pencil" class="col-xs-6"><button onclick="window.pencil()"><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div id="eraser" class="col-xs-6"><button onclick="window.eraser()"><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div id="bucket" class="col-xs-6"><button onclick="window.bucket()"><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div id="select" class="col-xs-6"><button onclick="window.select()"><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div id="circle" class="col-xs-6"><button onclick="window.circle()"><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div id="rectangle" class="col-xs-6"><button onclick="window.rectangle()"><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div id="triangle" class="col-xs-6"><button onclick="window.triangle()"><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div id="brushSize" class="col-xs-6"><button onclick="window.setWidth()"><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div id="export" class="col-xs-6"><button onclick="window.exportEdit()"><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div id="import" class="col-xs-6"><button onclick="window.importEdit()"><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <form id="colorForm"><div id="color" class="col-xs-6"><input type="color"></div><input type="submit"></form>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-6"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>



    </div>
    <div class="col-xs-9" style="border:solid;background-color: red;"><canvas id="myCanvas" width="500" height="500" style="border: solid"></canvas></div>
    <div class="col-xs-1" style="color:green;">
       <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
        <div class="col-xs-12"><button><span class="glyphicon glyphicon-pencil" alt="pencil"></span></button></div>
       
       



    </div>
  </div>


</section>




<script src="/js/src/editor.js"></script>
</body>
</html>