<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Editor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="/js/lib/fabric.min.js"></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

    <link rel="stylesheet" type="text/css" href="/css/home.css">


</head>
<body>




<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#" style="color:#9b9e19;">Qomiq</a>
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="/home">Home</a></li>
        <li class="nav-item"><a href="/create">Create</a></li>
        <li class="nav-item active"><a href="/explore">Explore</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ml-auto">
        <li th:switch="${currentUser}">
            <a th:case="null" href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
            <a th:case="*" href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a>
        </li>
        <li th:switch="${currentUser}">
            <a th:case="null" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
            <a th:case="*" href="/account"><img th:src="@{${' https://s3.us-east-2.amazonaws.com/qomiq-profile-images/profile' + currentUser.id + '.png'}}" alt="Trulli" style="width:50px; height:40px"></a>
        </li>
        <li th:if="${currentUser} != null">
            <a href="/play"><span class="glyphicon glyphicon-phone-alt"></span>(1)</a>
        </li>
    </ul>

    <!--<ul sec:authorize= "isAnonymous()" class="nav navbar-nav navbar-right">-->
    <!--<li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
    <!--<li th:switch="${currentUser}">-->
    <!--<a th:case="null" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>-->
    <!--<a th:case="*" href="/account"><img th:src="@{${'https://s3.amazonaws.com/seriescovers/' + currentUser.id + '.png'}}" alt="Trulli" style="width:50px; height:40px"></a>-->
    <!--</li>-->
    <!--</ul>-->

</nav>



<!-- The hero  -->
<!-- <div class="hero-image">
	<div class="hero-text">
		<h1>Make It Your Comic Universe!</h1>
		<button>Create</button>
		<button>Login</button>		
	</div>
	
</div> -->

<!-- <section id="projects" >
  <h1>Featured</h1>
<div class="row" >
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
</div>
  
</section> -->


<!-- Adding the tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Editor</a></li>
    <li><a data-toggle="tab" href="#menu1">Preview & Manage</a></li>
    <li><a data-toggle="tab" href="#menu2">Config</a></li>
</ul>



<!-- Ending adding tab elements  -->



<!-- Here begins the tab items -->

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h3>Editor 1.1</h3>
<!--        <section style="border:solid;">-->

<!--            <div class = "row">-->

<!--                <div class = "col-xs-3"></div>-->
<!--                <div class = "col-xs-6">-->
<!--                    Title Here: <input id="edit-title" value="title here" type="text"></input>-->
<!--                </div>-->
<!--                <div class = "col-xs-3"></div>-->

<!--            </div>-->

<!--            <div class= "row">-->
<!--                <div class="col-xs-2" style="color:green;">-->
<!--                    <div id="pencil" class="col-xs-6"><button class="btn btn-info btn-lg" onclick="window.pencil()"><span class="fa fa-paint-brush" alt="pencil"></span></button></div>-->
<!--                    <div id="eraser" class="col-xs-6"><button class="btn btn-info btn-lg" onclick="window.eraser()"><span class="fa fa-eraser" alt="eraser"></span></button></div>-->
<!--                    <div id="bucket" class="col-xs-6"><button class= "btn btn-info btn-lg" onclick="window.bucket()"><span class="fa fa-fill-drip" alt="bucket"></span></button></div>-->
<!--                    <div id="select" class="col-xs-6"><button class="btn btn-info btn-lg" onclick="window.select()"><span class="fa fa-mouse-pointer" alt="select"></span></button></div>-->
<!--                    <div id="circle" class="col-xs-6"><button class="btn btn-info btn-lg" onclick="window.circle()"><span class='far fa-circle' alt="circle"></span></button></div>-->
<!--                    <div id="rectangle" class="col-xs-6"><button class="btn btn-info btn-lg" onclick="window.rectangle()"><span class="fa fa-square" alt="rectangle"></span></button></div>-->
<!--                    <div id="triangle" class="col-xs-6"><button class = "btn btn-info btn-lg" onclick="window.triangle()"><span class="glyphicon glyphicon-triangle-top" alt="pencil"></span></button></div>-->



<!--                    <div id="image" class="col-xs-6">-->
<!--                        <label for="img-inp"  class="custom-file-upload">-->
<!--                            <i class="fas fa-file-image fa-1g"></i>-->
<!--                        </label>-->
<!--                        <input id="img-inp" type="file" />-->

<!--                    </div>-->





<!--                    <div id="copy" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.copy()"><span class="fas fa-copy" alt="pencil"></span></button></div>-->
<!--                    <div id="paste" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.paste()"><span class="fas fa-paste" alt="pencil"></span></button></div>-->
<!--                    <div id="cut" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.cut()"><span class="fas fa-cut" alt="pencil"></span></button></div>-->
<!--                    <div id="color" class="col-xs-6"><input type="color" id="col-pk" /></div>-->
<!--                    <div id="trash" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.trash()"><span class="fas fa-trash" alt="pencil"></span></button></div>-->
<!--                    <div id="text" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.addText()"><span class="glyphicon glyphicon-text-size" alt="pencil"></span></button></div>-->
<!--                    <div id="font" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-font" alt="pencil"></span></button></div>-->
<!--                    <div id="italic" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.italicToggle()"><span class="fas fa-italic" alt="pencil"></span></button></div>-->
<!--                    <div id="bold" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.boldToggle()"><span class="fas fa-bold" alt="pencil"></span></button></div>-->
<!--                    <div id="sendBackwards" class="col-xs-6"><button class="btn btn-info brn-lg" onclick="window.sendBackwards()">Send Backwards</button></div>-->
<!--                    <div id="sendToBack" class="col-xs-6"><button class="btn btn-info brn-lg" onclick="window.sendToBack()">Send To Back</button></div>-->
<!--                    <div id="bringForward" class="col-xs-6"><button class="btn btn-info brn-lg" onclick="window.bringForwards()">Bring Forward</button></div>-->
<!--                    <div id="bringToFront" class="col-xs-6"><button class="btn btn-info brn-lg" onclick="window.bringToFront()">Bring To Front</button></div>-->



<!--                </div>-->
<!--                <div class="col-xs-9" style="border:solid;"><canvas id="myCanvas" width="500" height="500" style="border: solid;"></canvas></div>-->
<!--                <div class="col-xs-1" style="color:green;">-->
<!--                    <div id="share" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.share()"><span class="fas fa-share" alt="pencil"></span></button></div>-->
<!--                    <div id="save" class="col-xs-12"><button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-save" alt="pencil"></span></button></div>-->
<!--                    <div id="import" class="col-xs-12">-->
<!--                        <label for="import-inp"  class="custom-file-upload">-->
<!--                            <i class="fas fa-file-import fa-1g"></i>-->
<!--                        </label>-->
<!--                        <input id="import-inp" type="file" />-->
<!--                    </div>-->
<!--                    <div id="export" class="col-xs-12"><button class ="btn btn-info btn-lg" onclick="window.exportEdit()"><span class="fas fa-file-export" alt="pencil"></span></button></div>-->
<!--                    <div id="undo" class="col-xs-12"><button class ="btn btn-info btn-lg" onclick="window.undo()"><span class="fas fa-undo" alt="pencil"></span></button></div>-->
<!--                    <div id="redo" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.redo()"><span class="fas fa-redo" alt="pencil"></span></button></div>-->
<!--                </div>-->
<!--            </div>-->


<!--        </section>-->











        <!-- the new ditor code is added for testing purpose-->
        <section>

            <!-- This is the editing pane -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">


                        <div class="row">


                            <div class="col-md-6">

                                <button class ="btn btn-info btn-lg" onclick="window.share()"><span class="fas fa-share" alt="pencil"></span></button>
                                <button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-save" alt="pencil"></span></button>
                                <span id="import" >
                            <label for="import-inp"  class="custom-file-upload">
                                <i class="fas fa-file-import fa-1g"></i>
                            </label>
                            <input id="import-inp" type="file" />
                        </span>
                                <button class ="btn btn-info btn-lg" onclick="window.exportEdit()"><span class="fas fa-file-export" alt="pencil"></span></button>
                                <button class ="btn btn-info btn-lg" onclick="window.undo()"><span class="fas fa-undo" alt="pencil"></span></button>
                                <button class ="btn btn-info btn-lg" onclick="window.redo()"><span class="fas fa-redo" alt="pencil"></span></button>





                                <button class="btn btn-info btn-lg" onclick="window.pencil()"><span class="fa fa-paint-brush" alt="pencil"></span></button>
                                <button class="btn btn-info btn-lg" onclick="window.eraser()"><span class="fa fa-eraser" alt="eraser"></span></button>
                                <button class= "btn btn-info btn-lg" onclick="window.bucket()"><span class="fa fa-fill-drip" alt="bucket"></span></button>
                              <button class="btn btn-info btn-lg" onclick="window.select()"><span class="fa fa-mouse-pointer" alt="select"></span></button>
                                <button class="btn btn-info btn-lg" onclick="window.circle()"><span class='far fa-circle' alt="circle"></span></button>
                                <button class="btn btn-info btn-lg" onclick="window.rectangle()"><span class="fa fa-square" alt="rectangle"></span></button>
                                <button class = "btn btn-info btn-lg" onclick="window.triangle()"><span class="glyphicon glyphicon-triangle-top" alt="pencil"></span></button>



                                <span id="image"  class="btn-lg">
                                    <label for="img-inp"  class="custom-file-upload">
                                        <i class="fas fa-file-image fa-1g"></i>
                                    </label>
                                    <input id="img-inp" type="file" />

                                </span>





                               <button class ="btn btn-info btn-lg" onclick="window.copy()"><span class="fas fa-copy" alt="pencil"></span></button>
                                <button class ="btn btn-info btn-lg" onclick="window.paste()"><span class="fas fa-paste" alt="pencil"></span></button>
                                <button class ="btn btn-info btn-lg" onclick="window.cut()"><span class="fas fa-cut" alt="pencil"></span></button>
                                <input type="color" id="col-pk" />
                                <button class ="btn btn-info btn-lg" onclick="window.trash()"><span class="fas fa-trash" alt="pencil"></span></button>
                                <button class ="btn btn-info btn-lg" onclick="window.addText()"><span class="glyphicon glyphicon-text-size" alt="pencil"></span></button>
                                <button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-font" alt="pencil"></span></button>
                                <button class ="btn btn-info btn-lg" onclick="window.italicToggle()"><span class="fas fa-italic" alt="pencil"></span></button>
                                <button class ="btn btn-info btn-lg" onclick="window.boldToggle()"><span class="fas fa-bold" alt="pencil"></span></button>


                                <!--
                                <div id="sendBackwards" class="col-xs-6"><button class="btn btn-info brn-lg" onclick="window.sendBackwards()">Send Backwards</button></div>
                                <div id="sendToBack" class="col-xs-6"><button class="btn btn-info brn-lg" onclick="window.sendToBack()">Send To Back</button></div>
                                <div id="bringForward" class="col-xs-6"><button class="btn btn-info brn-lg" onclick="window.bringForwards()">Bring Forward</button></div>
                                <div id="bringToFront" class="col-xs-6"><button class="btn btn-info brn-lg" onclick="window.bringToFront()">Bring To Front</button></div> -->





                            </div>
                            <!-- <div class="col-md-6">
                            </div> -->


                        </div>
                    </div>







                    <div class="col-md-8">

                        <canvas id="myCanvas" width="1000px" height="750px" style="border: solid;"></canvas>

                    </div>


                    <div class="col-md-2">

                        <h1>The Layers</h1>
                        <ul id="layers">

                        </ul>


                    </div>








<!--                    <div class="col-md-1"> </div>-->








            </div>

            <!-- This ends the editing pane  -->



        </div>
        </section>






        <!-- the end of newly added code  -->








    </div>
    <div id="menu1" class="tab-pane fade">
        <h3>Preview & Manage</h3>
        <p>This will be tile view of all the pages and users can move around pages</p>
    </div>
    <div id="menu2" class="tab-pane fade">
        <h3>Config</h3>
        <form id="comicInfo">
            <div>
                <label for="comicTitle">Comic Title: </label>
                <input type="text" id="comicTitle" />
            </div>
            <div>
                <select id = "currentSeries" class = "seriesSelect" >
                    <div th:each="series : ${series}">
                        <option th:text="${series.title}"></option>
                    </div>
                </select>
                <!--<label for="comicSeries">Pick Series for this Comic: </label>-->

                <!--<select class="form-control">-->
                <!--<div th:each="series : ${series}">-->
                <!--<option th:text="${series.title}"></option>-->
                <!--</div>-->
                <!--</select>-->


                <!--<input id = "currentSeries" type="text" list="comicSeries" />-->
                <!--<datalist id="comicSeries">-->
                <!--<div th:each="series : ${series}">-->
                <!--<option th:text="${series.title}"></option>-->
                <!--</div>-->
                <!--</datalist>-->

                <!--<select  id="comicSeries" >-->
                <!--<div th:each="series : ${series}">-->
                <!--<option th:text="${series.title}"></option>-->
                <!--</div>-->
                <!--<option selected="selected" value="DEFAULT">DEFAULT</option>-->
                <!--</select>-->
            </div>

            <div>
                <label for="newSeriesOrNot">Make a new Series: </label>
                <div id="newSeriesOrNot">
                    <input type="radio" name="isNewSeries" value="Yes"> Yes<br>
                    <input type="radio" name="isNewSeries" value="No" checked> No<br>
                </div>
            </div>
            <div hidden>
                <label for="newSeriesTitle" >New Series Title: </label>
                <input type="text" id="newSeriesTitle"  />
            </div>


            <div>
                <label for="commentsBoolean">Enable Comments: </label>
                <input id="commentsBoolean" type="checkbox" />
            </div>
            <div>
                <label for="makePublic" type="checkbox">Make Public: </label>
                <input id="makePublic" type="checkbox" />
            </div>
            <button onclick="window.publish()">Publish</button>
            <input id="submitComic" type="submit" action = "window.">
        </form>
    </div>
</div>


<!-- Here ends the tab items  -->







<!--<section style="border:solid;">-->

<!--<div class = "row">-->

<!--<div class = "col-xs-3"></div>-->
<!--<div class = "col-xs-6">-->
<!--Title Here: <input id="edit-title" value="title here" type="text"></input>-->
<!--</div>-->
<!--<div class = "col-xs-3"></div>-->

<!--</div>-->

<!--<div class= "row">-->
<!--<div class="col-xs-2" style="color:green;">-->
<!--<div id="pencil" class="col-xs-6"><button class="btn btn-info btn-lg" onclick="window.pencil()"><span class="fa fa-paint-brush" alt="pencil"></span></button></div>-->
<!--<div id="eraser" class="col-xs-6"><button class="btn btn-info btn-lg" onclick="window.eraser()"><span class="fa fa-eraser" alt="eraser"></span></button></div>-->
<!--<div id="bucket" class="col-xs-6"><button class= "btn btn-info btn-lg" onclick="window.bucket()"><span class="fa fa-fill-drip" alt="bucket"></span></button></div>-->
<!--<div id="select" class="col-xs-6"><button class="btn btn-info btn-lg" onclick="window.select()"><span class="fa fa-mouse-pointer" alt="select"></span></button></div>-->
<!--<div id="circle" class="col-xs-6"><button class="btn btn-info btn-lg" onclick="window.circle()"><span class='far fa-circle' alt="circle"></span></button></div>-->
<!--<div id="rectangle" class="col-xs-6"><button class="btn btn-info btn-lg" onclick="window.rectangle()"><span class="fa fa-square" alt="rectangle"></span></button></div>-->
<!--<div id="triangle" class="col-xs-6"><button class = "btn btn-info btn-lg" onclick="window.triangle()"><span class="glyphicon glyphicon-triangle-top" alt="pencil"></span></button></div>-->


<!--<div id="image" class="col-xs-6"><button class = "btn btn-info btn-lg" ><span class="fas fa-file-image" alt="pencil"><input id="img-inp" type="file" /></span></button></div>-->





<!--<div id="copy" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.copy()"><span class="fas fa-copy" alt="pencil"></span></button></div>-->
<!--<div id="paste" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.paste()"><span class="fas fa-paste" alt="pencil"></span></button></div>-->
<!--<div id="cut" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.cut()"><span class="fas fa-cut" alt="pencil"></span></button></div>-->
<!--<div id="color" class="col-xs-6"><button class ="btn btn-info btn-lg" ><input type="color" id="col-pk" /></button></div>-->
<!--<div id="trash" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-trash" alt="pencil"></span></button></div>-->
<!--<div id="text" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.addText()"><span class="glyphicon glyphicon-text-size" alt="pencil"></span></button></div>-->
<!--<div id="font" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-font" alt="pencil"></span></button></div>-->
<!--<div id="italic" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.italicToggle()"><span class="fas fa-italic" alt="pencil"></span></button></div>-->
<!--<div id="bold" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.boldToggle()"><span class="fas fa-bold" alt="pencil"></span></button></div>-->



<!--</div>-->
<!--<div class="col-xs-9" style="border:solid;"><canvas id="myCanvas" width="500" height="500" style="border: solid;"></canvas></div>-->
<!--<div class="col-xs-1" style="color:green;">-->
<!--<div id="share" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-share" alt="pencil"></span></button></div>-->
<!--<div id="save" class="col-xs-12"><button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-save" alt="pencil"></span></button></div>-->
<!--<div id="import" class="col-xs-12"><button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-file-import" alt="pencil"></span></button></div>-->
<!--<div id="export" class="col-xs-12"><button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-file-export" alt="pencil"></span></button></div>-->
<!--<div id="undo" class="col-xs-12"><button class ="btn btn-info btn-lg" onclick="window.undo()"><span class="fas fa-undo" alt="pencil"></span></button></div>-->
<!--<div id="redo" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.redo()"><span class="fas fa-redo" alt="pencil"></span></button></div>-->






<!--</div>-->
<!--</div>-->


<!--</section>-->



<script src="/js/src/editor.js"></script>

</body>
</html>