<!DOCTYPE html>
<html>
<head>
	<title>Editor</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/home.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/js/lib/fabric.min.js"></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:#9b9e19;">TBD</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
        </ul>
    </div>
</nav>



<!-- The hero  -->
<!-- <div class="hero-image">
	<div class="hero-text">
		<h1>Make It Your Comic Universe!</h1>
		<button>Create</button>
		<button>Login</button>		
	</div>
	
</div> -->

<!-- <section id="projects" >
  <h1>Featured</h1>
<div class="row" >
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
</div>
  
</section> -->

<section style="border:solid;">

    <div class = "row">

        <div class = "col-xs-3"></div>
        <div class = "col-xs-6">
            Title Here: <input id="edit-title" value="title here" type="text"></input>
        </div>
        <div class = "col-xs-3"></div>

    </div>

  <div class= "row">
    <div class="col-xs-2" style="color:green;">
        <div id="pencil" class="col-xs-6"><button class="btn btn-info btn-lg" onclick="window.pencil()"><span class="fa fa-paint-brush" alt="pencil"></span></button></div>
        <div id="eraser" class="col-xs-6"><button class="btn btn-info btn-lg" onclick="window.eraser()"><span class="fa fa-eraser" alt="eraser"></span></button></div>
        <div id="bucket" class="col-xs-6"><button class= "btn btn-info btn-lg" onclick="window.bucket()"><span class="fa fa-fill-drip" alt="bucket"></span></button></div>
        <div id="select" class="col-xs-6"><button class="btn btn-info btn-lg" onclick="window.select()"><span class="fa fa-mouse-pointer" alt="select"></span></button></div>
        <div id="circle" class="col-xs-6"><button class="btn btn-info btn-lg" onclick="window.circle()"><span class='far fa-circle' alt="circle"></span></button></div>
        <div id="rectangle" class="col-xs-6"><button class="btn btn-info btn-lg" onclick="window.rectangle()"><span class="fa fa-square" alt="rectangle"></span></button></div>
        <div id="triangle" class="col-xs-6"><button class = "btn btn-info btn-lg" onclick="window.triangle()"><span class="glyphicon glyphicon-triangle-top" alt="pencil"></span></button></div>


        <div id="image" class="col-xs-6"><button class = "btn btn-info btn-lg" ><span class="fas fa-file-image" alt="pencil"><input id="img-inp" type="file" /></span></button></div>





        <div id="copy" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.copy()"><span class="fas fa-copy" alt="pencil"></span></button></div>
        <div id="paste" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.paste()"><span class="fas fa-paste" alt="pencil"></span></button></div>
        <div id="cut" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.cut()"><span class="fas fa-cut" alt="pencil"></span></button></div>
        <div id="color" class="col-xs-6"><button class ="btn btn-info btn-lg" ><input type="color" id="col-pk" /></button></div>
        <div id="trash" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-trash" alt="pencil"></span></button></div>
        <div id="text" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.addText()"><span class="glyphicon glyphicon-text-size" alt="pencil"></span></button></div>
        <div id="font" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-font" alt="pencil"></span></button></div>
        <div id="italic" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.italicToggle()"><span class="fas fa-italic" alt="pencil"></span></button></div>
        <div id="bold" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.boldToggle()"><span class="fas fa-bold" alt="pencil"></span></button></div>



    </div>
    <div class="col-xs-9" style="border:solid;"><canvas id="myCanvas" width="500" height="500" style="border: solid;"></canvas></div>
    <div class="col-xs-1" style="color:green;">
        <div id="share" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-share" alt="pencil"></span></button></div>
        <div id="save" class="col-xs-12"><button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-save" alt="pencil"></span></button></div>
        <div id="import" class="col-xs-12"><button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-file-import" alt="pencil"></span></button></div>
        <div id="export" class="col-xs-12"><button class ="btn btn-info btn-lg" onclick="window.setWidth()"><span class="fas fa-file-export" alt="pencil"></span></button></div>
        <div id="undo" class="col-xs-12"><button class ="btn btn-info btn-lg" onclick="window.undo()"><span class="fas fa-undo" alt="pencil"></span></button></div>
        <div id="redo" class="col-xs-6"><button class ="btn btn-info btn-lg" onclick="window.redo()"><span class="fas fa-redo" alt="pencil"></span></button></div>






    </div>
  </div>


</section>




<script src="/js/src/editor.js"></script>
</body>
</html>