<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Rounds</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/gamerounds.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#" style="color:#9b9e19;">Qomiq</a>
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="/home">Home</a></li>
        <li class="nav-item"><a href="/create">Create</a></li>
        <li class="nav-item active"><a href="/explore">Explore</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ml-auto">
        <li th:switch="${currentUser}">
            <a th:case="null" href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
            <a th:case="*" href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a>
        </li>
        <li th:switch="${currentUser}">
            <a th:case="null" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
            <a th:case="*" href="/account"><img th:src="@{${' https://s3.us-east-2.amazonaws.com/qomiq-profile-images/profile' + currentUser.id + '.png'}}" alt="Trulli" style="width:50px; height:40px"></a>
        </li>
        <li th:if="${currentUser} != null">
            <a href="/play"><span class="glyphicon glyphicon-phone-alt"></span>(1)</a>
        </li>
    </ul>

    <!--<ul sec:authorize= "isAnonymous()" class="nav navbar-nav navbar-right">-->
    <!--<li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
    <!--<li th:switch="${currentUser}">-->
    <!--<a th:case="null" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>-->
    <!--<a th:case="*" href="/account"><img th:src="@{${'https://s3.amazonaws.com/seriescovers/' + currentUser.id + '.png'}}" alt="Trulli" style="width:50px; height:40px"></a>-->
    <!--</li>-->
    <!--</ul>-->

</nav>




<!--This is the starting of section for the ongoing games-->
<section id="current-round">
    <h1>Current Games</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Game ID</th>
            <th>Round Name</th>
            <th>Player Name</th>
            <th>Round State</th>
            <th>Voting Right</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Game 1</td>
            <td>Round 0</td>
            <td>Owner</td>
            <td>Completed</td>
            <td><button class="btn btn-info">Vote</button></td>
        </tr>

        <tr>
            <td>Game 1</td>
            <td>Round 2</td>
            <td>OneOKAsian(You)</td>
            <td>Completed</td>
            <td><button class="btn btn-info" disabled>Vote</button></td>
        </tr>

        <tr>
            <td>Game 1</td>
            <td>Round 0</td>
            <td>therobotguy</td>
            <td>Running</td>
            <td><button class="btn btn-info" disabled>Vote</button></td>
        </tr>

        </tbody>
    </table>

</section>




<!--This is where the current game section ends-->

<!--This is the round stat from inactive rounds-->
<section id="current-round">
    <h1>Past Rounds</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Game ID</th>
            <th>Round Name</th>
            <th>Player Name</th>
            <th>Round Status</th>
            <th>Votes</th>
        </tr>
        </thead>
        <tbody>

        <!--<tr>-->
            <!--<td>Game 1</td>-->
            <!--<td>Round 0</td>-->
            <!--<td>Owner</td>-->
            <!--<td>Completed/Expired</td>-->
            <!--<td disabled>None</td>-->
        <!--</tr>-->

        <tr>
            <td>Game 1</td>
            <td>Round 2</td>
            <td>TheMoonCheeseChef</td>
            <td>Completed/Expired</td>
            <td>5</td>
        </tr>

        <tr>
            <td>Game 1</td>
            <td>Round 2</td>
            <td>MarvelDon</td>
            <td>Completed/Expired</td>
            <td>10</td>
        </tr>

        <tr>
            <td>Game 1</td>
            <td>Round 2</td>
            <td>ComicLord</td>
            <td>Completed/Expired</td>
            <td>3</td>
        </tr>

        </tbody>
    </table>

</section>


<!--Ends round stat from inactive rounds-->











</body>
</html>