<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#" style="color:#9b9e19;">Qomiq</a>
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="/home">Home</a></li>
        <li class="nav-item"><a href="/create">Create</a></li>
        <li class="nav-item active"><a href="/explore">Explore</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ml-auto">
        <li th:switch="${currentUser}">
            <a th:case="null" href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
            <a th:case="*" href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a>
        </li>
        <li th:switch="${currentUser}">
            <a th:case="null" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
            <a th:case="*" href="/account"><img th:src="@{${' https://s3.us-east-2.amazonaws.com/qomiq-profile-images/profile' + currentUser.id + '.png'}}" alt="Trulli" style="width:50px; height:40px"></a>
        </li>
        <li th:if="${currentUser} != null">
            <a href="/play"><span class="glyphicon glyphicon-phone-alt"></span>(1)</a>
        </li>
    </ul>

    <!--<ul sec:authorize= "isAnonymous()" class="nav navbar-nav navbar-right">-->
    <!--<li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
    <!--<li th:switch="${currentUser}">-->
    <!--<a th:case="null" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>-->
    <!--<a th:case="*" href="/account"><img th:src="@{${'https://s3.amazonaws.com/seriescovers/' + currentUser.id + '.png'}}" alt="Trulli" style="width:50px; height:40px"></a>-->
    <!--</li>-->
    <!--</ul>-->

</nav>



<!-- The hero  -->
<div class="hero-image">
    <div class="hero-text">
        <h1>Make It Your Comic Universe!</h1>
        <form action="/create"><input type="submit" value="Create" class="btn btn-primary"/></form>
        <div th:if="${currentUser == null}"><form action="/login"><input type="submit" value="Join" class="btn btn-primary"/></form></div>
    </div>

</div>

<!--<img id="home-img" th:src="@{${'https://s3.us-east-2.amazonaws.com/comic-bucket/series58comic59.png'}}" onerror="this.onerror=null;this.src='https://ik.imagekit.io/demo/img/tr:di-medium_cafe_B1iTdD0C.jpg/non_existent_image.jpg';"/>-->

<section id="projects" >
    <h1>Featured</h1>
    <div class="row" >
        <div id="proj-disp" class ="col-xs-3" th:each="series : ${series}">

            <div class ="card">
                <h1 th:text="${series.title}"></h1>
                <a th:href="@{${'/series/' + series.id}}"><img th:src="@{${'https://s3.us-east-2.amazonaws.com/comic-bucket/seriesCover' + series.id + '.png'}}" id="hxh"    onerror="this.onerror=null;this.src='https://ik.imagekit.io/demo/img/tr:di-medium_cafe_B1iTdD0C.jpg/non_existent_image.jpg';"></a>

            </div>

        </div>

    </div>

</section>



<!-- <h1>Featured</h1>
<div class="row" id="projects">
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
  <div class="col-xs-4 col-md-3"><img src="c.jpg" id="hxh"></div>
</div>
 -->





</body>
</html>