<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/css/profile.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#" style="color:#9b9e19;">Qomiq</a>
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="/home">Home</a></li>
        <li class="nav-item"><a href="/create">Create</a></li>
        <li class="nav-item active"><a href="/explore">Explore</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ml-auto">
        <li th:switch="${currentUser}">
            <a th:case="null" href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
            <a th:case="*" href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a>
        </li>
        <li th:switch="${currentUser}">
            <a th:case="null" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
            <a th:case="*" href="/account"><img th:src="@{${' https://s3.us-east-2.amazonaws.com/comic-bucket/profileImage' + currentUser.id + '.png'}}" alt="Trulli" style="width:50px; height:40px"></a>
        </li>
        <li th:if="${currentUser} != null">
            <a href="/play"><span class="glyphicon glyphicon-phone-alt"></span>(1)</a>
        </li>
    </ul>

    <!--<ul sec:authorize= "isAnonymous()" class="nav navbar-nav navbar-right">-->
    <!--<li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
    <!--<li th:switch="${currentUser}">-->
    <!--<a th:case="null" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>-->
    <!--<a th:case="*" href="/account"><img th:src="@{${'https://s3.amazonaws.com/seriescovers/' + currentUser.id + '.png'}}" alt="Trulli" style="width:50px; height:40px"></a>-->
    <!--</li>-->
    <!--</ul>-->

</nav>

<h1 class="display-4"><span th:utext="${currentUser.username}"></span></h1>
<div th:each = "comic: ${comics}"></div>
<section>
    <div id ="displaylist">
        <h2 th:text = ${series.title}></h2>
        <h1>Manage Comics</h1>
        <div class="row" id="display-row">
            <div th:each="comic : ${comics}" class="col-xs-3" >
                <figure>
                    <figtitle th:text="${comic.comicTitle}"></figtitle>
                    <a th:href="@{'/comic/' + ${comic.id}}"><img th:src="@{${'https://s3.us-east-2.amazonaws.com/comic-bucket/series' + comic.seriesId + 'comic' + comic.id + '.png'}}" alt="Trulli" style="width:100%"></a>
                    <figcaption><div>Category: </div><div th:text="${series.category}"></div>
                        <button id="edit-btn"><div><span class="glyphicon glyphicon-pencil"></span> Edit</div></button>
                        <form th:object="${comic}" th:action = "@{/account/series/comic/delete}" method="POST">
                            <input type="hidden" th:value = "${comic.id}" id = "id" name = "id">
                            <input type="submit" value="Delete">
                        </form>
                        <div th:if ="${comic.publicComic} == true" >
                            <form th:object="${comic}" th:action = "@{/account/series/makeprivate}" method="POST">
                                <input type="hidden" th:value = "*{id}" id = "id" name = "id">
                                <!--<input type="hidden" th:value = "*{authorUsername}" id = "authorUsername" name = authorUsername>-->
                                <input type="submit" value="Make Private" >
                            </form>
                        </div>
                        <div th:if ="${comic.publicComic} == false" >
                            <form th:object="${comic}" th:action = "@{/account/series/makepublic}" method="POST">
                                <input type="hidden" th:value = "*{id}" id = "id" name = "id">
                                <!--<input type="hidden" th:value = "*{authorUsername}" id = "authorUsername" name = authorUsername>-->
                                <input type="submit" value="Make Public" >
                            </form>
                        </div>

                        <!--<button id="subs-btn"><div><span class="glyphicon glyphicon-eye-open"></span> Make Public</div></button>-->
                        <div th:if="${comic.commentsEnabled} == true" ><button id="subs-btn"><a th:href="@{${'/comic/disable/' + comic.id}}"><span class="glyphicon glyphicon-comment"></span> Disable Comment</a></button></div>
                        <div th:if="${comic.commentsEnabled} == false"><button id="subs-btn"><a th:href="@{${'/comic/enable/' + comic.id}}"><span class="glyphicon glyphicon-comment"></span> Enable Comment</a></button></div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>















</body>
</html>