<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="/css/profile.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color:#9b9e19;">TBD</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Create</a></li>
      <li><a href="#">Explore</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-bell"></span>(1)</a></li>
    </ul>
  </div>
</nav>



<!-- The hero  -->
<div class="hero-image">
	<div class="hero-text">
    <h1>Telephone Game</h1>
        <!--<h1>Hello <span th:utext="${currentUser.username}"></h1>-->
        <!--<form th:object="${newGame}" th:action = "@{/game/new}" method="POST">-->
            <!--<input  type="submit" value="Start A Game" >-->
        <!--</form>-->
        <form th:object ="${gameForm}" th:action = "@{/game/new}" method = "POST">
            <div class="form-group">
                <label for="gameName">Game Name</label>
                <input name = "gameName" type="GameName" th:field="*{gameName}" class="form-control" id="gameName" placeholder="Game Name">
            </div>
            <div class="form-group">
                <label for="comicName">Comics</label>
                <select name = "comicName" th:field = "*{comicName}" class="form-control" id="comicName">
                    <option  th:each = "comic : ${comics}" th:value = "${comic.id}" th:text = "${comic.comicTitle}" ></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Start Game</button>
        </form>
	</div>
	
</div>


<section>
  <div id ="displaylist">

    <h1>Current Games</h1>

    <div class="row" id="display-row">
    <div th:each="game,iter : ${games}">
        <div class="col-xs-3">
            <figure>
                <figtitle th:text="${game.gameName}"></figtitle>
                <img src="c.jpg" alt="Trulli" style="width:100%">
                <figcaption>
                    <a th:href="@{'/game/' + ${game.id}}"><button>VIEW</button></a>
                </figcaption>
            </figure>
        </div>
    </div>

    </div>
  </div>

</section>




<section>
  <h1>Past Team Mates</h1>
  <div id ="displaylist">

    <div class="row" id="display-row">


      <div class="col-xs-3">
       <figure>
          <p class="figtitle">jazzygamer</p>
          <img src="http://placekitten.com/40/40" alt="Trulli" style="width:40%; border-radius:50%;">
          <figcaption>
            <button id="subs-btn"><div><span class="glyphicon glyphicon-plus"></span> Subscribe</div></button>
              <br>
              <button id="subs-btn"><div><span class="glyphicon glyphicon-eye-open"></span> View Profile</div></button>
          </figcaption>
        </figure>
      </div>

        <div class="col-xs-3">
            <figure>
                <p class="figtitle">octopusSlayer</p>
                <img src="http://placekitten.com/40/40" alt="Trulli" style="width:40%; border-radius:50%;">
                <figcaption>
                    <button id="subs-btn"><div><span class="glyphicon glyphicon-plus"></span> Subscribe</div></button>
                    <br>
                    <button id="subs-btn"><div><span class="glyphicon glyphicon-eye-open"></span> View Profile</div></button>
                </figcaption>
            </figure>
        </div>


        <div class="col-xs-3">
            <figure>
                <p class="figtitle">rockstarGames</p>
                <img src="http://placekitten.com/40/40" alt="Trulli" style="width:40%; border-radius:50%;">
                <figcaption>
                    <button id="subs-btn"><div><span class="glyphicon glyphicon-plus"></span> Subscribe</div></button>
                    <br>
                    <button id="subs-btn"><div><span class="glyphicon glyphicon-eye-open"></span> View Profile</div></button>
                </figcaption>
            </figure>
        </div>



        <div class="col-xs-3">
            <figure>
                <p class="figtitle">seawolfwins</p>
                <img src="http://placekitten.com/40/40" alt="Trulli" style="width:40%; border-radius:50%;">
                <figcaption>
                    <button id="subs-btn"><div><span class="glyphicon glyphicon-plus"></span> Subscribe</div></button>
                    <br>
                    <button id="subs-btn"><div><span class="glyphicon glyphicon-eye-open"></span> View Profile</div></button>
                </figcaption>
            </figure>
        </div>




    </div>
  </div>

</section>










</body>
</html>