<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="/css/profile.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>





</head>
<body>




<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="navbar-brand" style="color:#9b9e19;">Qomiq</div>
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="/home">Home</a></li>
        <li class="nav-item"><a href="/create">Create</a></li>
        <li class="nav-item active"><a href="/explore">Explore</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ml-auto">
        <li th:switch="${currentUser}">
            <a th:case="null" href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
            <a th:case="*" href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a>
        </li>
        <li th:switch="${currentUser}">
            <a th:case="null" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
            <a th:case="*" href="/account"><img th:src="@{${' https://s3.us-east-2.amazonaws.com/comic-bucket/profileImage' + currentUser.id + '.png'}}" onerror="this.onerror=null;this.src='https://s3.us-east-2.amazonaws.com/comic-bucket/defaultprofileimage.png';" style="width:50px; height:40px"></a>
        </li>
        <li th:if="${currentUser} != null">
            <a href="/play"><span class="glyphicon glyphicon-phone-alt"></span></a>
        </li>
    </ul>

    <!--<ul sec:authorize= "isAnonymous()" class="nav navbar-nav navbar-right">-->
    <!--<li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
    <!--<li th:switch="${currentUser}">-->
    <!--<a th:case="null" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>-->
    <!--<a th:case="*" href="/account"><img th:src="@{${'https://s3.amazonaws.com/seriescovers/' + currentUser.id + '.png'}}" alt="Trulli" style="width:50px; height:40px"></a>-->
    <!--</li>-->
    <!--</ul>-->

</nav>



<!-- The hero  -->
<div class="hero-image">
	<div class="hero-text">
    <h1>Telephone Game</h1>
        <!--<h1>Hello <span th:utext="${currentUser.username}"></h1>-->
        <!--<form th:object="${newGame}" th:action = "@{/game/new}" method="POST">-->
            <!--<input  type="submit" value="Start A Game" >-->
        <!--</form>-->
        <form th:object ="${gameForm}" th:action = "@{/game/new}" method = "POST">
            <div class="form-group">
                <label for="gameName">Game Name</label>
                <input name = "gameName" type="GameName" th:field="*{gameName}" class="form-control" id="gameName" placeholder="Game Name">
            </div>
            <div class="form-group">
                <label for="comicName">Comics</label>
                <select name = "comicName" th:field = "*{comicName}" class="form-control" id="comicName">
                    <option  th:each = "comic : ${comics}" th:value = "${comic.id}" th:text = "${comic.comicTitle}" ></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Start Game</button>
        </form>
	</div>
	
</div>


<section>
  <div id ="displaylist">

    <h1>Current Games</h1>

    <div class="row" id="display-row">
    <div th:each="game,iter : ${games}">
        <div th:if="${game.finished} == false"class="col-xs-3">
            <figure>
                <figtitle th:text="${game.gameName}"></figtitle>
                <img th:src="${'https://s3.us-east-2.amazonaws.com/comic-bucket/comicCover' + game.comicId + '.png'}" onerror="this.onerror=null;this.src='https://s3.us-east-2.amazonaws.com/comic-bucket/defaultprofileimage.png';" style="width:100%">
                <figcaption>
                    <a th:href="@{'/game/' + ${game.id}}"><button>VIEW</button></a>
                </figcaption>
            </figure>
        </div>
    </div>

    </div>
  </div>

</section>




<section>
  <h1>Past Games</h1>
    <div th:each="game,iter : ${games}">
        <div th:if="${game.finished} == true"class="col-xs-3">
            <figure>
                <figtitle th:text="${game.gameName}"></figtitle>
                <img th:src="${'https://s3.us-east-2.amazonaws.com/comic-bucket/gameWinner' + game.id + '.png'}" onerror="this.onerror=null;this.src='https://s3.us-east-2.amazonaws.com/comic-bucket/defaultprofileimage.png';" style="width:100%">
                <figcaption>
                    <a th:href="@{'/game/' + ${game.id}}"><button>VIEW</button></a>
                </figcaption>
            </figure>
        </div>
    </div>
</section>










</body>
</html>