<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">






    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/explore.css">





</head>
<body>




<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="navbar-brand" style="color:#9b9e19;">Qomiq</div>
    <ul class="nav navbar-nav">
        <li class="nav-item"><a href="/home">Home</a></li>
        <li class="nav-item"><a href="/create">Create</a></li>
        <li class="nav-item active"><a href="/explore">Explore</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right ml-auto">
        <li th:switch="${currentUser}">
            <a th:case="null" href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
            <a th:case="*" href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a>
        </li>
        <li th:switch="${currentUser}">
            <a th:case="null" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
            <a th:case="*" href="/account"><img th:src="@{${' https://s3.us-east-2.amazonaws.com/comic-bucket/profileImage' + currentUser.id + '.png'}}" onerror="this.onerror=null;this.src='https://s3.us-east-2.amazonaws.com/comic-bucket/defaultprofileimage.png';" style="width:50px; height:40px"></a>
        </li>
        <li th:if="${currentUser} != null">
            <a href="/play"><span class="glyphicon glyphicon-phone-alt"></span></a>
        </li>
    </ul>

    <!--<ul sec:authorize= "isAnonymous()" class="nav navbar-nav navbar-right">-->
    <!--<li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
    <!--<li th:switch="${currentUser}">-->
    <!--<a th:case="null" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>-->
    <!--<a th:case="*" href="/account"><img th:src="@{${'https://s3.amazonaws.com/seriescovers/' + currentUser.id + '.png'}}" alt="Trulli" style="width:50px; height:40px"></a>-->
    <!--</li>-->
    <!--</ul>-->

</nav>



<!-- The hero  -->
<div class="hero-image">
	<div class="hero-text">
    <h1>Telephone Game</h1>
        <!--<h1>Hello <span th:utext="${currentUser.username}"></h1>-->
        <!--<form th:object="${newGame}" th:action = "@{/game/new}" method="POST">-->
            <!--<input  type="submit" value="Start A Game" >-->
        <!--</form>-->
        <form th:object ="${gameForm}" th:action = "@{/game/new}" method = "POST">
            <div class="form-group">
                <label for="gameName">Game Name</label>
                <input name = "gameName" type="GameName" th:field="*{gameName}" class="form-control" id="gameName" placeholder="Game Name" style="height: 1.5%;">
            </div>
            <div class="form-group">
                <label for="comicName">Comics</label>
                <select name = "comicName" th:field = "*{comicName}" class="form-control" id="comicName" style="height: 1.5%;">
                    <option  th:each = "comic : ${comics}" th:value = "${comic.id}" th:text = "${comic.comicTitle}" ></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Start Game</button>
        </form>
	</div>
	
</div>














<!--<section>-->
<!--    -->
<!--    -->
<!--  <div id ="displaylist">-->

<!--    <h1>Current Games</h1>-->




<!--    <div class="row" id="display-row">-->
<!--    <div th:each="game,iter : ${games}">-->
<!--        <div th:if="${game.finished} == false"class="col-xs-3">-->
<!--            <figure>-->
<!--                <figtitle th:text="${game.gameName}"></figtitle>-->
<!--                <img th:src="${'https://s3.us-east-2.amazonaws.com/comic-bucket/comicCover' + game.comicId + '.png'}" onerror="this.onerror=null;this.src='https://s3.us-east-2.amazonaws.com/comic-bucket/defaultprofileimage.png';" style="width:100%">-->


<!--                <figcaption>-->
<!--                    <a th:href="@{'/game/' + ${game.id}}"><button>VIEW</button></a>-->
<!--                </figcaption>-->
<!--            </figure>-->
<!--        </div>-->
<!--    </div>-->

<!--    </div>-->
<!--  </div>-->
<!--    -->
<!--    -->
<!--    -->
<!--    -->
<!--    -->

<!--</section>-->

<section>

    <h1>Current Games</h1>

<div class="row"  id= "row-display" >


    <!-- Start of Card Groups Layout -->


        <div id="display"  class="col-md-3"   th:each="game,iter : ${games}">
            <div  class="card" th:if="${game.finished} == false">
                <div class="card-header text-center"> <h4 class="card-title" th:text="${game.gameName}"></h4></div>



<!--                <img id="ser-img" class="card-img-top" src="https://www.theterminatorfans.com/wp-content/uploads/2019/05/Gabriel-Luna-Ghost-Rider-Terminator-1024x512.jpg" alt="Flex Card Image 1">-->


                <div class="text-center">

                    <img th:src="${'https://s3.us-east-2.amazonaws.com/comic-bucket/comicCover' + game.comicId + '.png'}" onerror="this.onerror=null;this.src='https://s3.us-east-2.amazonaws.com/comic-bucket/defaultprofileimage.png';" >



                </div>


                <div class="card-body">

                    <p class="card-text">

                        <a th:href="@{'/game/' + ${game.id}}"><button>VIEW</button></a>

                    </p>
                </div>

            </div>
        </div>




</div>

</section>























<!--<section>-->
<!--  <h1>Past Games</h1>-->
<!--    <div th:each="game,iter : ${games}">-->
<!--        <div th:if="${game.finished} == true"class="col-xs-3">-->
<!--            <figure>-->
<!--                <figtitle th:text="${game.gameName}"></figtitle>-->
<!--                <img th:src="${'https://s3.us-east-2.amazonaws.com/comic-bucket/gameWinner' + game.id + '.png'}" onerror="this.onerror=null;this.src='https://s3.us-east-2.amazonaws.com/comic-bucket/defaultprofileimage.png';" style="width:100%">-->
<!--                <figcaption>-->
<!--                    <a th:href="@{'/game/' + ${game.id}}"><button>VIEW</button></a>-->
<!--                </figcaption>-->
<!--            </figure>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->




<section>
    <h1>Past Games</h1>
<div class="row">




    <!-- Start of Card Groups Layout -->
    <div id="display"  class="col-md-3"  th:each="game,iter : ${games}">
        <div  class="card" th:if="${game.finished} == true">
            <div class="card-header text-center"> <h4 class="card-title" th:text="${game.gameName}"></h4></div>


            <div class="text-center">

                <img id="ser-img" th:src="${'https://s3.us-east-2.amazonaws.com/comic-bucket/gameWinner' + game.id + '.png'}" onerror="this.onerror=null;this.src='https://s3.us-east-2.amazonaws.com/comic-bucket/defaultprofileimage.png';" >


            </div>


<!--            <img id="ser-img" class="card-img-top" src="https://www.theterminatorfans.com/wp-content/uploads/2019/05/Gabriel-Luna-Ghost-Rider-Terminator-1024x512.jpg" alt="Flex Card Image 1">-->
            <div class="card-body">

                <p class="card-text text-center">

                    <a th:href="@{'/game/' + ${game.id}}"><button class="btn btn-success btn-lg">VIEW</button></a>

                </p>
            </div>

        </div>
    </div>






</div>

</section>























    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>











<footer>


</footer>







</body>
</html>